.main-menu {
    padding: 10px 0;
    border-bottom: 1px solid #c0c0c0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: white;
}

.comparer-menu {
    position: fixed;
    top: 10px;
    left: 600px;
    /*height: 60px;*/
    width: 400px;
    z-index: 1000;
}

.content {
    margin-top: 81px;
}

.messages {
    position: fixed;
    z-index: 9999;
    width: 50%;
    left: 25%;
    top: 50px;
}

.well {
    margin: 0;
}

/* Editor */

.editor {
    position: fixed;
    width: 100%;
    top: 81px;
    bottom: 0px;
}

.editor__tab {
    height: 100%;
}

.editor__tab-content {
    overflow-x: auto;
    overflow-y: scroll;
    max-height: 100%; 
}

.editor__tab-content--comparer {
    height: 100%; 
}

.input-single {
    padding-left: 0;
    padding-right: 0;
}

.editor__tab-content--layout .panel {
    margin-bottom: 0;
}

.panel-body.panel-body--absolute-content {
    overflow: auto;
}

.panel-heading {
    position: relative;
}

.panel-title--vertical-centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.panel-title__right-corner {
    float: right;
}

.element-list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.element-list--arrange {
    position: relative;
}

.element {
    display: block;
    background-color: red;
    padding: 4px;
    background-clip: content-box;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.element--floating {
    float: left;
}

.element--selected {
    border: 12px solid #337ab7;
    padding: 0;
    z-index: 99;
}

.element--positioned {
    position: absolute;
}

.element__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.element__move {
    position: absolute;
    width: 30px;
}

.element__move--collision {
    background: #f64;
    z-index: 99;
}

.element__move--left {
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}

.element__move--top {
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.element__move--right {
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}

.element__move--bottom {
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.history-menu .form-group {
    margin-left: 0;
    margin-right: 0;
}
