<div class="comparer-menu">
  <form class="form-horizontal">
    <div class="btn-group btn-group-sm col-lg-5">
        <button type="button"
            ng-disabled="!vm.onlyAlgorithm && !vm.dataset.canGoBackInHistory()"
            ng-click="vm.goToOldestHistoryEntry()"
            class="btn btn-default">
            <span class="glyphicon glyphicon-fast-backward">
            </span>
        </button>
        <button type="button"
            ng-disabled="!vm.onlyAlgorithm && !vm.dataset.canGoBackInHistory()"
            ng-click="vm.goBackInHistory()"
            class="btn btn-default">
            <span class="glyphicon glyphicon-step-backward">
            </span>
        </button>
        <button type="button"
            ng-disabled="!vm.onlyAlgorithm && !vm.dataset.canGoForwardInHistory()"
            ng-click="vm.goForwardInHistory()"
            class="btn btn-default">
            <span class="glyphicon glyphicon-step-forward">
            </span>
        </button>
        <button type="button"
            ng-disabled="!vm.onlyAlgorithm && !vm.dataset.canGoForwardInHistory()"
            ng-click="vm.goToMostRecent()"
            class="btn btn-default">
            <span class="glyphicon glyphicon-fast-forward">
            </span>
        </button>
    </div>
    <label for="" 
           class="control-label col-lg-4">
        Desired width
    </label>
    <div class="input-group input-group-sm col-lg-3">
      <input class="form-control"
           type="number" 
           ng-model="vm.desiredWidth" 
           ng-change="vm.adjustZoom()"
           step="{{vm.dataset.columnWidth}}"
           min="0" />
        <span class="input-group-addon">
            {{vm.dataset.units.width}}
        </span>
    </div>
  </form>
</div>