<div class="panel panel-default absolute-container"
    read-width
    save-width-reader-to="vm.readWidth">
    <div class="panel-body panel-body--absolute-content absolute-container"
        ng-click="vm.selectElement(null, $event)">
        <div ng-if="!vm.elements.length">
            <p>There are no elements yet.</p>
        </div>

        <ul class="element-list element-list--arrange clearfix"
            ng-style="vm.getContainerCssSize()">
            <li class="element"
                ng-if="vm.elements.length"
                ng-repeat="element in vm.elements track by element.index"
                ng-class="vm.getElementClass(element)"
                ng-click="vm.selectElement(element, $event)"
                ng-style="vm.getElementCss(element)">
                <span class="element__index">element {{element.index}}</span>
            </li>
        </ul>
    </div>
</div>
