<br />
<br />
<br />
<br />
<br />
<!-- <div ng-click="decrementHandler()">hehehe</div> -->
<div 
    ng-click="numeralInput.decrement(numeralInput.step)">
    hehehe
</div>

<input class="form-control" type="number" ng-model="numeralInput.value" step="3" />
<div 
    ng-click="numeralInput.increment(numeralInput.step)">
    + plus
</div>
<div 
    ng-click="numeralInput.decrement(numeralInput.step)">
    - minus
</div>

<!-- z głównej
    <div class="main-menu" main-menu></div>
    <div class="form-group" numeral-input
         value="val"
         on-increment="increment"
         on-decrement="decrement">hehe</div>
    <div class="content container-fluid" ui-view></div> -->