.main-menu {
    padding: 10px 0;
    border-bottom: 1px solid #c0c0c0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: white;
}

.content {
    margin-top: 81px;
}

.messages {
    position: fixed;
    z-index: 9999;
    width: 50%;
    left: 25%;
    top: 50px;
}

.elements-editor__menu-container {
    position: fixed;
    top: 81px;
    bottom: 0;
    right: 0;
}

.elements-editor__menu {
    overflow: auto;
    height: 100%; 
}

.input-single {
    padding-left: 0;
    padding-right: 0;
}

.panel-heading {
    position: relative;
}

.panel-title--vertical-centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.panel-title__right-corner {
    float: right;
}