.main-menu {
    padding: 10px 0;
    border-bottom: 1px solid #c0c0c0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: white;
}

.content {
    margin-top: 81px;
}

.messages {
    position: fixed;
    z-index: 9999;
    width: 50%;
    left: 25%;
    top: 50px;
}

.well {
    margin: 0;
}

/* Elements editor */

.elements-editor {
    position: fixed;
    top: 81px;
    bottom: 0;
}

.elements-editor__tab {
    height: 100%;
}

.elements-editor__tab-content {
    /*overflow: auto;*/
    overflow-y: scroll;
    max-height: 100%; 
}

.input-single {
    padding-left: 0;
    padding-right: 0;
}

.elements-editor__tab-content--layout .panel {
    margin-bottom: 0;
}

.panel-heading {
    position: relative;
}

.panel-title--vertical-centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.panel-title__right-corner {
    float: right;
}

.element-list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.element {
    display: block;
    background-color: red;
    border: 1px solid white;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.element--floating {
    float: left;
}

.element--selected {
    border: 12px solid #337ab7;
}

.element__index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
