<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Grid</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <elements-editor-labelled-input 
                label="Column width" 
                classes="input-group">
                <input class="form-control"
                   type="number" 
                   ng-model="elementsEditor.dataset.columnWidth" 
                   step="{{elementsEditor.getStep(elementsEditor.dataset.units.width)}}"
                   min="0" />
                <span class="input-group-addon">
                    {{elementsEditor.dataset.units.width}}
                </span>
            </elements-editor-labelled-input>
            <elements-editor-labelled-input 
                label="Row height" 
                classes="input-group">
                <input class="form-control"
                   type="number" 
                   ng-model="elementsEditor.dataset.rowHeight" 
                   step="{{elementsEditor.getStep(elementsEditor.dataset.units.height)}}"
                   min="0" />
                <span class="input-group-addon">
                    {{elementsEditor.dataset.units.height}}
                </span>
            </elements-editor-labelled-input>
            <elements-editor-labelled-input 
                label="Width units" 
                classes="input-single">
                <select class="form-control"
                   ng-model="elementsEditor.dataset.units.width"
                   ng-options="unit for unit in elementsEditor.availableUnits"
                   ng-change="elementsEditor.recalculateSizes ? recalculateWidths() : angular.noop"></select>
            </elements-editor-labelled-input>
            <elements-editor-labelled-input 
                label="Height units" 
                classes="input-single">
                <select class="form-control"
                   ng-model="elementsEditor.dataset.units.height" 
                   ng-options="unit for unit in elementsEditor.availableUnits">
               </select>
            </elements-editor-labelled-input>
            <div class="col-lg-offset-3 col-lg-9 checkbox">
                <label>
                    <input type="checkbox"
                        ng-model="elementsEditor.recalculateSizes">
                   Recalculate sizes on unit change
                </label>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">
            <span class="panel-title--vertical-centered">New element</span>
            <span class="panel-title__right-corner">
                <button type="button" 
                        class="btn btn-default text-center">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <elements-editor-labelled-input 
                label="Width" 
                classes="input-group">
                <input class="form-control"
                   type="number" 
                   ng-model="elementsEditor.newElement.width" 
                   step="{{elementsEditor.dataset.columnWidth}}"
                   min="0" />
                <span class="input-group-addon">
                    {{elementsEditor.dataset.units.width}}
                </span>
            </elements-editor-labelled-input>
            <elements-editor-labelled-input 
                label="Height" 
                classes="input-group">
                <input class="form-control"
                   type="number" 
                   ng-model="elementsEditor.newElement.height" 
                   step="{{elementsEditor.dataset.rowHeight}}"
                   min="0" />
                <span class="input-group-addon">
                    {{elementsEditor.dataset.units.height}}
                </span>
            </elements-editor-labelled-input>
            <elements-editor-labelled-input 
                label="Index" 
                classes="input-single">
                <input class="form-control"
                   type="number"
                   readonly
                   ng-model="elementsEditor.dataset.elements.length" />
            </elements-editor-labelled-input>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">
            <span class="panel-title--vertical-centered">Selected element</span>
            <span class="panel-title__right-corner">
                <button type="button" 
                    ng-disabled="{{!elementsEditor.selectedElement}}" 
                    class="btn btn-default text-center">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button type="button"
                    ng-disabled="{{!elementsEditor.selectedElement}}" 
                    class="btn btn-default text-center">
                    <span class="glyphicon glyphicon-duplicate"></span>
                </button>
            </span>
        </h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <elements-editor-labelled-input 
                label="Width" 
                classes="input-group">
                <input class="form-control"
                   type="number"
                   ng-disabled="{{!elementsEditor.selectedElement}}" 
                   ng-model="elementsEditor.selectedElement.width" 
                   step="{{elementsEditor.dataset.columnWidth}}"
                   min="0" />
                <span class="input-group-addon">
                    {{elementsEditor.dataset.units.width}}
                </span>
            </elements-editor-labelled-input>
            <elements-editor-labelled-input 
                label="Height" 
                classes="input-group">
                <input class="form-control"
                   type="number"
                   ng-disabled="{{!elementsEditor.selectedElement}}" 
                   ng-model="elementsEditor.selectedElement.height" 
                   step="{{elementsEditor.dataset.rowHeight}}"
                   min="0" />
                <span class="input-group-addon">
                    {{elementsEditor.dataset.units.height}}
                </span>
            </elements-editor-labelled-input>
            <elements-editor-labelled-input 
                label="Index" 
                classes="input-single">
                <input class="form-control"
                   type="number"
                   ng-disabled="{{!elementsEditor.selectedElement}}" 
                   ng-model="elementsEditor.selectedElement.index" />
            </elements-editor-labelled-input>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Appearance</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <elements-editor-labelled-input 
                label="Sort" 
                classes="btn-group input-single">
                <button type="button" 
                    ng-repeat="order in elementsEditor.availableSortOrders"
                    uib-btn-radio="'{{order}}'"
                    ng-model="elementsEditor.sortOrder"
                    class="btn btn-default">
                    <span class="glyphicon" 
                        ng-class="elementsEditor.sortGlyphicons[order]">
                    </span>
                </button>
            </elements-editor-labelled-input>
            <elements-editor-labelled-input 
                label="Sort by" 
                classes="input-single">
                <select class="form-control"
                    ng-model="elementsEditor.sortBy"
                    ng-options="sort for sort in elementsEditor.dataset.elementSortableProperties">
                </select>
            </elements-editor-labelled-input>
            <elements-editor-labelled-input 
                label="Display" 
                classes="input-single">
                <select class="form-control"
                    ng-model="elementsEditor.display"
                    ng-options="display for display in elementsEditor.availableDisplays">
                </select>
            </elements-editor-labelled-input>
            <!--show actual size? -->
        </form>
    </div>
</div>