<div class="panel panel-default">
    <div class="panel-body"
        ng-click="vm.selectElement(null, $event)">
        <div ng-if="!vm.elements.length">
            <p>There are no elements yet.</p>
        </div>

        <ul class="element-list clearfix"
            ng-if="vm.elements.length"
            read-width
            save-width-reader-to="vm.readWidth">
            <li class="element"
                ng-repeat="element in vm.elements | orderBy: vm.preview.sortBy : vm.preview.reverse"
                ng-class="vm.getElementClass(element)"
                ng-click="vm.selectElement(element, $event)"
                ng-style="vm.getElementCssSize(element)">
                <div class="element__content">
                    <div>element {{element.index}}</div>
                    <button type="button"
                        ng-show="vm.selectedElementIndex === element.index"
                        ng-click="vm.arrangeItem({ element: element })">Arrange
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>
