<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">
            <span class="panel-title--vertical-centered">New element</span>
            <span class="panel-title__right-corner">
                <button type="button" 
                    class="btn btn-default text-center"
                    ng-click="vm.addNewElement(vm.newElement)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <editor-labelled-input 
                label="Width" 
                classes="input-group input-group-sm">
                <input class="form-control"
                   type="number" 
                   ng-model="vm.newElement.width" 
                   step="{{vm.dataset.columnWidth}}"
                   min="0" />
                <span class="input-group-addon">
                    {{vm.dataset.units.width}}
                </span>
            </editor-labelled-input>
            <editor-labelled-input 
                label="Height" 
                classes="input-group input-group-sm">
                <input class="form-control"
                   type="number" 
                   ng-model="vm.newElement.height" 
                   step="{{vm.dataset.rowHeight}}"
                   min="0" />
                <span class="input-group-addon">
                    {{vm.dataset.units.height}}
                </span>
            </editor-labelled-input>
            <editor-labelled-input 
                label="Index" 
                classes="input-single">
                <input class="form-control"
                   type="number"
                   readonly
                   value="{{vm.elements.length}}" />
            </editor-labelled-input>
        </form>
    </div>
</div>